# ------------------------------------------- Running i3 on a local display -----------------------------------------

# Use the Windows key
set $mod Mod4

# Start i3bar
# See man i3status and ~/.i3status.conf
# I use my own i3-status-append wrapper-script to prepend or append my own functionality:
#     https://github.com/DouglasRoyds/utilities_douglas
# TODO: I don't seem to be able to run i3bar over rdp
bar {
   status_command i3-status-append
   mode hide
}

