# ------------------------------------------- acheron ---------------------------------------------------------------
# acheron host-specific settings.

set $image ~/Documents/Technology/Computers/Wallpapers/STEREO-SunMillionDegreeAtmosphere.png
bindsym Control+Mod1+L exec i3-prelock && i3lock -dnt -i $image && i3-unlock

