# ------------------------------------------- acheron ---------------------------------------------------------------
# acheron host-specific settings.

set $image ~/Documents/Technology/Computers/Wallpapers/STEREO-SunMillionDegreeAtmosphere.png
bindsym Control+Mod1+L exec i3lock-acheron-prelock && i3lock -dnt -i $image && i3lock-acheron-unlock

# Skype is set to run minimised
exec --no-startup-id skype

